@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital,wght@1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: lightsteelblue;
    height: 5vh;
    border-bottom: 0.4px solid #a09a9a;
}

.navbar-items {
    display: flex;
    gap: 30px;
}

.navbar-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #a3bebe 16.62%, #c8dfb8 85.61%);
    height: 100vh;
}

h1 {
    font-size: 20px;
    margin-left: 50px;
    padding-top: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-inline: 20vw;
    margin-bottom: 10vh;
}

.menu-item {
    background-color: navajowhite;
    align-self: center;
    text-align: center;
    padding: 20px;
    width: 10vw;
}

table {
    width: 80%;
    margin: 20px;
}
thead {
    text-align: center;
    background-color: #536d7e;
    color: white;
}
tr:nth-child(even) {
    background-color: #8a9197;
}
.money {
    text-align: right;
}