@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital,wght@1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: lightsteelblue;
    height: 5vh;
    border-bottom: 0.4px solid #a09a9a;
}

.navbar-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    font-size: clamp(0.5em, 3vw, 1.2em);
}

.navbar-items-pack {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
}

body {
    background: linear-gradient(68.15deg, #a3bebe 16.62%, #c8dfb8 85.61%);
    height: 100vh;
}

h1 {
    font-size: 20px;
    margin-left: 50px;
    padding-top: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-submenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-inline: 20vw;
    margin-bottom: 10vh;
    row-gap: 10px;
}

.menu-item {
    background-color: navajowhite;
    align-self: center;
    text-align: center;
    padding: 20px;
    min-width: 10vw;
}

table {
    max-width: 80%;
    margin: 20px;
    text-align: center;
}
thead {
    background-color: #536d7e;
    color: white;
}

td {
    padding-inline: 20px;
}

tr:nth-child(even) {
    background-color: #8a9197;
}
.money {
    text-align: right;
}
.postform {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.buttonsform {
    display: flex;
    flex:none;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-around;
}

footer {
    font-size: large;
    margin-top: 20px;
}