<!doctype html>
<html lang="en">
  <head>
    <title>Tripcash</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The perfect tool to deal with your trip's finance.">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <nav class="navbar">
      <a href="{{ url_for('index') }}" class="navbar-title">Tripcash</a>
      <div class="navbar-items">
        {% if g.user %}
          {% if g.trip %}
            <p>Trip: {{ g.trip[1] }} | <a href="{{ url_for('home.change_trip') }}" class="navbar-link">Change</a> </p>
          {% endif %}
          <p class="navbar-username">User: {{ g.user['username'] }} | <a href="{{ url_for('auth.logout') }}" class="navbar-link">Log Out</a></p>
        {% else %}
          <a href="{{ url_for('auth.register') }}" class="navbar-link">Register</a>
          <a href="{{ url_for('auth.login') }}" class="navbar-link">Log In</a>
        {% endif %}
      </div>
  </nav>  
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    <body>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </body>
  </section>
</html>