{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Label{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="label">New Label</label>
    <input autocomplete="off" autofocus name="label" id="label" required type="text" value="{{ label.label_name }}">
    
    <input type="submit" value="Edit Label">
  </form>
  
<h2>Existing Labels</h2>
<table>
  <thead>
    <tr>
      <th>Label</th>
    </tr>
  </thead>
  <tbody>
    {% for each in labels %}
      <tr>
        <td>{{ each.label_name }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
