{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ _('Edit Category') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="card shadow-sm mb-4" style="max-width: 500px">
    <div class="card-body">
      <form method="post">
        <div class="form-group mb-3">
          <label class="form-label fw-bold" for="label">{{ _('New Category Name') }}</label>
          <input class="form-control" autocomplete="off" autofocus name="label" id="label" required type="text" value="{{ _(label.label_name) }}">
        </div>
        <div class="row g-2 mt-4 justify-content-md-end">
          <div class="col-6 col-md-auto d-grid">
            <a class="btn btn-secondary" href="{{ url_for('label.label') }}">{{ _('Back') }}</a>
          </div>
          <div class="col-6 col-md-auto d-grid">
            <button class="btn btn-primary" type="submit">{{ _('Save Changes') }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
