{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Trip{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
      <label for="trip">Title</label>
      <input autocomplete="off" autofocus name="trip_name" id="trip_name" required type="text" value="{{ trip.trip_name }}">
      
      <input class="btn btn-secondary m-3" type="submit" value="Edit Trip">
    </form>

  <h2>Existing Trips</h2>
  <table class="table table-sm table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th>Trip</th>
      </tr>
    </thead>
    <tbody>
      {% for each in trips %}
        <tr>
          <td>{{ each.trip_name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-secondary" href="{{ url_for('trip.trip') }}" >Back</a>
{% endblock %}
