{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register a new expense{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="postform">
    <label for="date">Date</label>
    <input autocomplete="off" name="date" id="date" required type="date" value={{ today }}>
    <label for="amount">Amount</label>
    <input autocomplete="off" class="money" name="amount" placeholder="0.00" required step="0.01" type="number">
    <label for="title">Title</label>
    <input autocomplete="off" name="title" required type="text">
    <label for="label">Label</label>
    <select name="label">
      {% for label in label_list %}
          <option value={{ label[0] }}>{{ label[1] }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Register">
  </form>
{% endblock %}
