{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Getting Started{% endblock %}</h1>
{% endblock %}

{% block content %}
    
<p>With Tripcash, you can easily manage all of your travel expenses with just a few clicks. Organize your expenses by labels, both big and small, and keep track of your spending to help plan your budget more effectively. </p>
<p>By default, Tripcash comes with some generic labels, but you can easily edit and delete them, or even create your own custom labels that better suit your travel needs.</p>
<p>To get started with Tripcash, simply create your first trip by giving it a name. Remember to choose a unique name that hasn't been used for any other trips before.</p>
    

    <form class="form-inline d-flex align-items:baseline px-3" method="post">
      <div class="form-group">
        <label class="form-label" for="trip_name">Trip</label>
        <input autocomplete="off" autofocus class="form-control" name="trip_name" id="trip_name" required type="text">
      </div>
      <input class="btn btn-success mx-3" type="submit" value="Create Trip">
    </form>

  
    </tbody>
  </table>
{% endblock %}
