{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Getting Started{% endblock %}</h1>
{% endblock %}

{% block content %}
    
    <p>Using tripcash you can manage all your trip expenses.</p>
    <p>With just a few clicks you will be abble to list and classify in labels all your little (and the big ones too) expenses.</p>
    <p>By default, some generic labels will be created to you, but you can edit and delete them anytime. Of course, you can create you own labels as well.</p>


    <p>Before start to use Tripcash, you need to create your first trip.</p>
    <p>Just give a name to the Trip. Remember you can't use the same name to another trips.</p>
    

    <form class="form-inline d-flex align-items:baseline px-3" method="post">
      <div class="form-group">
        <label class="form-label" for="trip_name">Trip</label>
        <input autocomplete="off" autofocus class="form-control" name="trip_name" id="trip_name" required type="text">
      </div>
      <input class="btn btn-success mx-3" type="submit" value="Create Trip">
    </form>

  
    </tbody>
  </table>
{% endblock %}
