{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if g.user %}
        <div class="menu">
        {% if not g.trip %}
            <form method="post">
                <label for="trip">Choose The Trip</label>
                <select name="trip">
                    {% for trip in trip_list %}
                        <option value={{ trip[0] }}>{{ trip[1] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Choose">
            </form>
        {% else %}
        <h2>Expenses</h2>
        <div class="menu-submenu">
            <a href=/post class="menu-item">New</a>
            <a href=/list class="menu-item">List</a>
            <a href=/total class="menu-item">Total</a>
        </div>

        {% endif %}
        <h2>Configs</h2>
        <div class="menu-submenu">
            <a href=/trip class="menu-item">Add a Trip </a>
            <a href=/label class="menu-item">Add a Label</a>
        </div>
        </div>
    {% else %}
        Login to use Tripcash
    {% endif %}
{% endblock %}
