{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ _('Categories') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>{{ _('Welcome to category management. You can create new categories, view current ones, or edit and delete them as needed.') }}</p>
<p><strong>{{ _('Note:') }}</strong> {{ _('If you delete a category, all associated expenses will be automatically reassigned to "Others".') }}</p>

<form method="post">
  <label for="label">{{ _('New Category') }}</label>
  <input autocomplete="off" autofocus name="label" id="label" required type="text">
  
  <input class="btn btn-success" type="submit" value="{{ _('Create Category') }}">
</form>

<h2>{{ _('Existing Categories') }}</h2>
<table class="table table-sm table-striped table-hover px-3">
  <thead>
    <tr>
      <th scope="col">{{ _('Category') }}</th>
      <th scope="col">{{ _('Actions') }}</th>
    </tr>
  </thead>
  <tbody>
    {% for label in labels %}
      <tr>
        <td>{{ label.label_name }}</td>
        <td class="btn-group" role="group">
          <form action="{{ url_for('label.editlabel', id=label['label_id']) }}" method="GET"><input class="btn btn-sm btn-secondary" type="submit" value="{{ _('Edit') }}"></form>
          <form action="{{ url_for('label.deletelabel', id=label['label_id']) }}" method="POST"><input class="btn btn-sm btn-secondary" type="submit" value="{{ _('Delete') }}" onclick="return confirm('{{ _('Deleting this category will move all associated expenses to others. Are you sure?') }}');"></form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-secondary" href="{{ url_for('index') }}" >{{ _('Back') }}</a>
{% endblock %}
