{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Label{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Here you can manage your labels. Need a new label? Just type the name in the space below. You also can see, edit and delete all the labels you have.</p>
  <p>Just remember that when you delete a label all the expenses registered with it will be deleted too.</p>

<form method="post">
  <label for="label">New Label</label>
  <input autocomplete="off" autofocus name="label" id="label" required type="text">
  
  <input class="btn btn-success" type="submit" value="Create Label">
</form>

<h2>Existing Labels</h2>
<table class="table table-sm table-striped table-hover px-3">
  <thead>
    <tr>
      <th scope="col">Label</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    {% for label in labels %}
      <tr>
        <td>{{ label.label_name }}</td>
        <td class="btn-group" role="group">
          <form action="{{ url_for('label.editlabel', id=label['label_id']) }}" method="GET"><input class="btn btn-sm btn-secondary" type="submit" value="Edit"></form>
          <form action="{{ url_for('label.deletelabel', id=label['label_id']) }}" method="POST"><input class="btn btn-sm btn-secondary" type="submit" value="Delete" onclick="return confirm('Are you sure?');"></form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
