{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}List{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Amount</th>
                <th>Label</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for post in list %}
                <tr>
                    <td>{{ post.date }}</td>
                    <td>{{ post.title }}</td>
                    <td class="money">{{ post.amount | currencyFormat }}</td>
                    <td>{{ post.label }}</td>
                    <td class="buttonsform">
                        <form action="{{ url_for('list.edit', id=post['id']) }}" method="GET"><input  type="submit" value="Edit"></form>
                        <form action="{{ url_for('list.delete', id=post['id']) }}" method="POST"><input type="submit" value="Delete" onclick="return confirm('Are you sure?');"></form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}