{% extends 'base.html' %}

{% block header %}
  <h1 class="h2">{% block title %}{{ _('Expenses') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-responsive-cards">
            <thead>
                <tr>
                    <th>{{ _('Date') }}</th>
                    <th>{{ _('Title') }}</th>
                    <th>{{ _('Amount') }}</th>
                    <th>{{ _('Category') }}</th>
                    <th>{{ _('Actions') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for post in list %}
                    <tr>
                        <td data-label="{{ _('Date') }}">{{ post.date }}</td>
                        <td data-label="{{ _('Title') }}">{{ post.title }}</td>
                        <td data-label="{{ _('Amount') }}" class="money fw-bold text-success">{{ post.amount | currencyFormat }}</td>
                        <td data-label="{{ _('Category') }}">{{ _(post.label) }}</td>
                        <td data-label="{{ _('Actions') }}">
                            <div class="d-flex gap-2 justify-content-end w-100">
                                <form action="{{ url_for('list.edit', id=post['id']) }}" method="GET">
                                    <button class="btn btn-sm btn-primary" type="submit">{{ _('Edit') }}</button>
                                </form>
                                <form action="{{ url_for('list.delete', id=post['id']) }}" method="POST">
                                    <button class="btn btn-sm btn-danger" type="submit" onclick="return confirm('{{ _("Are you sure?") }}');">{{ _('Delete') }}</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-grid gap-2 d-md-flex mt-4">
        <a class="btn btn-primary" href="{{ url_for('expense.expense') }}">{{ _('New Expense') }}</a>
        <a class="btn btn-secondary" href="{{ url_for('index') }}" >{{ _('Back') }}</a>
    </div>
{% endblock %}