{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ _('Total') }} - {{ date }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _('Category') }}</th>
                <th>{{ _('Amount') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for each in totals %}
                <tr>
                    <td>{{ _(each.label) }}</td>
                    <td class="money">{{ each.amount | currencyFormat }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>{{ _('Select a date to filter the total expenses:') }}</p>
    <form method="post">
        <label for="date">{{ _('Date') }}</label>
        <select name="date">
            <option value="all">{{ _('All dates') }}</option>
            {% for date in dates_list %}
                <option value={{ date[0] }}>{{ date[0] }}</option>
            {% endfor %}
        </select>
        <input class="btn btn-info" type="submit" value="{{ _('Filter') }}">
    </form>
    <a class="btn btn-secondary" href="{{ url_for('index') }}" >{{ _('Back') }}</a>

{% endblock %}