{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ _('Trips') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    
<p>{{ _('Manage your trips here. Create new ones, or view, edit, and delete existing trips from the list below.') }}</p>
<p><strong>{{ _('Warning:') }}</strong> {{ _('Deleting a trip will also remove all expenses registered under it.') }}</p>

<form method="post">
  <label for="trip">{{ _('Trip Name') }}</label>
  <input autocomplete="off" autofocus name="trip_name" id="trip_name" required type="text">
  
  <input class="btn btn-success" type="submit" value="{{ _('Create Trip') }}">
</form>

<h2>{{ _('Existing Trips') }}</h2>
<table class="table table-sm table-striped table-hover px-3">
  <thead>
    <tr>
      <th scope="col">{{ _('Trip Name') }}</th>
      <th scope="col">{{ _('Actions') }}</th>
    </tr>
  </thead>
  <tbody>
    {% for trip in trips %}
      <tr>
        <td>{{ trip.trip_name }}</td>
        <td>
          <div class="btn-group" role="group">
            <form action="{{ url_for('trip.edittrip', id=trip['trip_id']) }}" method="GET"><input class="btn btn-sm btn-secondary" type="submit" value="{{ _('Edit') }}"></form>
            <form action="{{ url_for('trip.deletetrip', id=trip['trip_id']) }}" method="POST"><input class="btn btn-sm btn-secondary" type="submit" value="{{ _('Delete') }}" onclick="return confirm('{{ _('This will permanently delete the trip and all its expenses. Are you sure?') }}');"></form>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-secondary" href="{{ url_for('index') }}" >{{ _('Back') }}</a>
{% endblock %}
