{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Trip{% endblock %}</h1>
{% endblock %}

{% block content %}
    
<p>Here you can manage your trips. Need a new trip? Just type the name in the space below. You also can see, edit and delete all the trips you have.</p>
<p>Just remember that when you delete a trip all the expenses registered with it will be deleted too.</p>

<form method="post">
  <label for="trip">Title</label>
  <input autocomplete="off" autofocus name="trip_name" id="trip_name" required type="text">
  
  <input class="btn btn-success" type="submit" value="Create Trip">
</form>

<h2>Existing Trips</h2>
<table class="table table-sm table-striped table-hover px-3">
  <thead>
    <tr>
      <th scope="col">Trip</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    {% for trip in trips %}
      <tr>
        <td>{{ trip.trip_name }}</td>
        <td>
          <div class="btn-group" role="group">
            <form action="{{ url_for('trip.edittrip', id=trip['trip_id']) }}" method="GET"><input class="btn btn-sm btn-secondary" type="submit" value="Edit"></form>
            <form action="{{ url_for('trip.deletetrip', id=trip['trip_id']) }}" method="POST"><input class="btn btn-sm btn-secondary" type="submit" value="Delete" onclick="return confirm('All the data from this trip will be deleted. Are you sure?');"></form>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-secondary" href="{{ url_for('index') }}" >Back</a>
{% endblock %}
